* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  margin: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main-header{
  height: 95px;
  width: 100%;
}

.main-logo{
  width: 100px;
  height:95px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
	width: 960px;
	max-width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  line-height: 1.5;
}

.main-header .container {
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.main-nav ul {
  margin: 1.5em 0 .5em;
  text-align: center;
  list-style: none;
  padding: 10px;
}
.main-nav li {
  display: inline;
  list-style: none;
}
.main-nav a {
	display: inline-flex;
  padding: .5em 2em;
  border: solid black 1px;
  border-radius: 5px;
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #343534;
  text-decoration: none;
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: fit-content;
  border: black solid 1px;
  margin-top: 20px;
}

@media (min-width: 960px) {
	.main-header .container {
		justify-content: stretch;
	}
}