<!DOCTYPE html>
<html>

<head>
  <title><%= titulo %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header class="main-header">
    <div class="container">
      <img class="main-logo" src=" https://cdn2.scratch.mit.edu/get_image/user/21097643_90x90.png" alt="Logo">
      <nav class="main-nav">
        <ul class="main-nav">
          <li><a href="/">Cursos</a></li>
          <li><a href="/estudantes">Estudantes</a></li>
          <li><a href="/contato">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>